body {
    font-family: "Oswald", sans-serif;
    background-color: #000000;
    color: #fff;
  }

  .borde_1{
    border: #272222 solid 10px;
    background-color: #877771;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  hr{
    border: #272222 solid 5px;
  }

  .navbar{
    background: #272222;
  }

  .navegacion-principal__marca {
    width: 50px;
  }

  .cabecera {
    text-align: center;
    padding: 50px 20px;
    background: url("/img/Cabecera.jpg") no-repeat center center/cover;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 20px;
  }

  .boton:hover {
    opacity: 0.9;
  }

  .formulario{
    padding: 20px;
    margin-top: 20px;
  }
 

 .tabla_Usuario {
     
  }

  .tabla_Rick {
    text-align: center;
  } 

  .form1 {
  border: #272222 solid 5px;
  background: url("/img/1620x1080-Rick-and-Morty-Wallpaper.jpg") no-repeat center center/cover;
}
  .spaced-div {
    margin-bottom: 20px; /* Ajusta este valor según el espaciado deseado */
  }

  .tarjeta1{
    text-align: center;
    background-color: #20dad8;
}

  
  .pie {
    background: #272222;
    color: #616161;
    text-align: center;
    padding: 20px 0;
  }